<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangyu.mapper.BlogMapper">

<!--  adminUser********************************************************-->

    <resultMap id="blogMap" type="com.yangyu.dto.BlogDto">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="description" column="description"/>
        <result property="firstPicture" column="firstPicture"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="appreciation" column="appreciation"/>
        <result property="shareStatement" column="shareStatement"/>
        <result property="commentabled" column="commentabled"/>
        <result property="published" column="published"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="typeId" column="type_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="sql">id,appreciation,commentabled,content,create_time,description,
               first_picture,flag,published,recommend,share_statement,title,update_time,
               views,type_id,user_id</sql>

    <select id="findBlog"   resultMap="blogMap">
        select * from t_blog where user_id=#{userId} order by views DESC limit #{n1},#{n} ;
    </select>
    <select id="findBlogP"   resultMap="blogMap">
        select * from t_blog where user_id=#{userId} and published=1 order by views DESC limit #{n1},#{n} ;
    </select>
    <select id="records" resultMap="blogMap">
        select * from t_blog where user_id=#{userId} and published=1  order by create_time desc;
    </select>
    <insert id="save" parameterType="com.yangyu.po.Blog"  useGeneratedKeys="true" keyProperty="id">
        insert into t_blog (views,appreciation,commentabled,content,create_time,description,first_picture,flag,published,recommend,share_statement,title,type_id,user_id,update_time)
        values (#{views},#{appreciation},#{commentabled},#{content},now(),#{description},#{firstPicture},#{flag},#{published},#{recommend},#{shareStatement},#{title},#{type.id},#{user.id},now());
    </insert>
    <delete id="delete" parameterType="Long">
        delete from t_blog where id=#{id};
    </delete>
    <select id="getById" parameterType="Long" resultMap="blogMap">
        select <include refid="sql"/> from  t_blog where id=#{id};
    </select>
    <update id="update" >
        update t_blog set appreciation=#{appreciation},commentabled=#{commentabled},content=#{content},
                          description=#{description},first_picture=#{firstPicture},flag=#{flag},
                          published=#{published},recommend=#{recommend},share_statement=#{shareStatement},title=#{title},
                          update_time=now(),type_id=#{type.id},user_id=#{user.id},views=#{views} where id=#{id};
    </update>
    <update id="updateType">
        update t_blog set type_id=1 where type_id=#{typeId};
    </update>

<!--    index *****************************************************************-->

    <select id="findBlogByType" parameterType="Long" resultMap="blogMap">
        select * from t_blog as blog where type_id = #{id} and published=1;
    </select>
    <select id="findBlogByTag" parameterType="Long" resultMap="blogMap">
        select blog.* from t_blog blog,t_blog_tags where tags_id=#{id} and blogs_id = blog.id and blog.published=1;
    </select>

    <select id="count"  resultType="Integer">
        select count(*) from t_blog where user_id=#{userId} and published=1;
    </select>
    <select id="countSearch" resultType="Integer">
        select count(*) from t_blog where (title like concat('%',#{key},'%') or  description like concat('%',#{key},'%')) and published=1;
    </select>
    <select id="findHotBlog" resultType="Blog">
        select * from t_blog where published=1 order by views DESC limit 0,6;
    </select>
    <select id="findByKeywords"  resultMap="blogMap">
        select <include refid="sql"/> from t_blog where (title like concat('%',#{key},'%')  or content like concat('%',#{key},'%')  or description like concat('%',#{key},'%') ) and user_id=#{userId} and published=1;
    </select>

    <select id="findAllByKeywords"  resultMap="blogMap">
        select <include refid="sql"/> from t_blog where (title like concat('%',#{key},'%') or  description like concat('%',#{key},'%')) and published=1 limit #{pageNum},10;
    </select>


</mapper>