<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangyu.mapper.BlogTagMapper">

    <select id="findByBlogId" resultType="Tag">
        select t.id,t.name from t_blog_tags tbt left join t_tag t on tbt.tags_id=t.id  where tbt.blogs_id=#{blogId};
    </select>

    <select id="count" resultType="Integer">
        select count(*) from t_blog_tags where blogs_id=#{id};
    </select>

    <insert id="addBlogTag">
        insert into t_blog_tags (blogs_id,tags_id) values (#{blogId},#{tagId});
    </insert>

    <update id="updateTag">
        delete from t_blog_tags where tags_id=#{tagsId};
    </update>

    <delete id="deleteBlogTag">
       delete from t_blog_tags where blogs_id=#{id};
    </delete>
</mapper>