<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangyu.mapper.TagMapper">
    <select id="findTopTags" resultType="Tag">
        select tag.* from t_tag tag join t_blog_tags tbt on tag.id = tbt.tags_id where tag.user_id=#{userId} group by tag.id order by count(*) desc limit 0,10 ;
    </select>
    <select id="findAllTags" resultType="Tag">
        select * from t_tag where user_id=#{userId} limit #{n},3
    </select>
    <insert id="saveTag"  useGeneratedKeys="true" keyColumn="id">
         insert into t_tag(name,user_id) values (#{name},#{userId});
    </insert>
    <delete id="deleteTag" parameterType="Long">
         delete from t_tag where id=#{id};
    </delete>
    <select id="getById" parameterType="Long" resultType="Tag">
         select * from t_tag WHERE id=#{id};
    </select>
    <select id="getByName" resultType="Tag">
         select * from t_tag WHERE name=#{name} and user_id=#{userId};
    </select>
    <update id="updateTag">
         update t_tag set name=#{name} where id=#{id};
    </update>

</mapper>