<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangyu.mapper.UserMapper">

    <select id="getById" resultType="User">
        select * from t_user where id=#{id};
    </select>

    <select id="getByUsername" resultType="User">
        select * from t_user where username=#{username};
    </select>

    <select id="getByName" resultType="User">
        select id,nickname,avatar from t_user where nickname like '%'#{keywords}'%';
    </select>

    <select id="checkUser"  resultType="User">
        select * from t_user where password=#{p} and username=#{u};
    </select>

    <insert id="addUser">
        insert into t_user (username,password,email,nickname,avatar,create_time) values (#{username},#{password},#{email},#{nickname},#{avatar},now())
    </insert>

    <update id="updateUser">
        update t_user set password=#{password},email=#{email},nickname=#{nickname}
          ,avatar=#{avatar},update_time=now() where id=#{id};
    </update>
</mapper>